hosts = ${PROSODY_DATABASE_HOST}
user = ${PROSODY_DATABASE_USERNAME}
password = ${PROSODY_DATABASE_PASSWORD}
dbname = ${PROSODY_DATABASE_NAME}
table = users
select_field = maildir
where_field = username
additional_conditions = AND enabled = 1
