[Unit]
Description=Postfix SMTP server
Wants=container-build@%N.service dovecot.service
After=container-build@%N.service dovecot.service

[Service]
Restart=always
ExecStart=/bin/podman run --replace --pull never --name %N --net internal \
                          --env-file /etc/container-service/%N/%N.env \
                          --publish 25:25 --publish 465:465 --publish 587:587 \
                          --volume dovecot:/var/mail:z \
                          --volume letsencrypt:/etc/ssl/private:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N

[Install]
WantedBy=multi-user.target
