[Unit]
Description=Postfix SMTP server
Wants=container-build@%N.service dovecot.service
After=container-build@%N.service dovecot.service

[Service]
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/bin/podman run --replace --name %N --net internal --sdnotify=conmon \
                          --env-file %E/coreos-home-server/%N/%N.env \
                          --publish 25:25 --publish 465:465 --publish 587:587 \
                          --volume dovecot:/var/mail:z \
                          --volume letsencrypt:/etc/ssl/private:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --ignore --time 10 %N
ExecStopPost=/bin/podman rm --ignore --force %N
ExecReload=/bin/podman exec %N %N reload

[Install]
WantedBy=multi-user.target
