[Unit]
Description=Grafana Visualization and Analytics
Wants=container-build@%N.service container-volume@%N.service prometheus.service lldap.service
After=container-build@%N.service container-volume@%N.service prometheus.service lldap.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:8080/api/health
Image=localhost/%N:latest
Network=internal
Network=lldap
Network=nginx
Network=prometheus
Notify=healthy
Volume=%N:/var/lib/%N:z

[Service]
TimeoutStartSec=180
Restart=on-failure

[Install]
WantedBy=multi-user.target
