[Unit]
Description=Unbound Recursive DNS Resolver
Wants=container-build@%N.service container-volume@%N.service redis.service
After=container-build@%N.service container-volume@%N.service redis.service

[Container]
AutoUpdate=local
ContainerName=%N
HealthCmd=timeout 5s drill -Q example.com @localhost
Image=localhost/%N:latest
Network=internal
Network=unbound
Network=redis
Notify=healthy
Volume=%N:/var/lib/%N:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
