[Unit]
Description=Rclone Sync for /%I
Wants=container-build@rclone.service
After=container-build@rclone.service
ConditionDirectoryNotEmpty=/%I

[Service]
Type=oneshot
SyslogIdentifier=%N
Environment=DESTINATION=crypt:%i
ExecStart=/bin/podman run --rm --env-file %E/coreos-home-server/rclone/rclone.env \
                          --volume /%I:/data:z localhost/rclone:latest \
                          sync /data ${DESTINATION}

[Install]
WantedBy=multi-user.target
