# Application settings.
GOTOSOCIAL_HOST=${GOTOSOCIAL_HOST}
GOTOSOCIAL_ACCOUNT_DOMAIN=${GOTOSOCIAL_ACCOUNT_DOMAIN}

# User and authentication settings.
GOTOSOCIAL_DEFAULT_USERNAME=${GOTOSOCIAL_DEFAULT_USERNAME}
GOTOSOCIAL_ACCOUNT_REGISTRATION_OPEN=false

# SMTP mailer settings.
GOTOSOCIAL_SMTP_HOST=${POSTFIX_HOST}
GOTOSOCIAL_SMTP_PORT=587
GOTOSOCIAL_SMTP_USERNAME=${POSTFIX_LOCAL_SMTP_USERNAME}
GOTOSOCIAL_SMTP_PASSWORD=${POSTFIX_LOCAL_SMTP_PASSWORD}
GOTOSOCIAL_SMTP_FROM=${GOTOSOCIAL_SMTP_FROM}
