[Unit]
Description=Redis Key-Value Store
Wants=container-build@%N.service container-volume@%N.service
After=container-build@%N.service container-volume@%N.service

[Container]
AutoUpdate=local
ContainerName=%N
HealthCmd=sh -c 'redis-cli PING | grep -q PONG'
Image=localhost/%N:latest
Network=internal
Network=redis
Notify=true
Volume=%N:/var/lib/%N:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
