hosts = ${POSTFIX_DATABASE_HOST}
user = ${POSTFIX_DATABASE_USERNAME}
password = ${POSTFIX_DATABASE_PASSWORD}
dbname = ${POSTFIX_DATABASE_NAME}
table = aliases
select_field = destination
where_field = mail
additional_conditions = AND enabled = 1
