# General configuration.
COTURN_AUTH_SECRET=${COTURN_AUTH_SECRET}

# Network configuration.
COTURN_REALM=${COTURN_REALM}
COTURN_EXTERNAL_IP=${COTURN_EXTERNAL_IP}
COTURN_RELAY_PORT_MIN=${COTURN_RELAY_PORT_MIN}
COTURN_RELAY_PORT_MAX=${COTURN_RELAY_PORT_MAX}
