[Unit]
Description=Container environment for %I
ConditionPathExists=/etc/container-service.env
ConditionPathExists=/etc/container-service/%i/%i.env.template

[Service]
Type=oneshot
EnvironmentFile=/etc/container-service.env
ExecStart=/bin/sh -c 'envsubst < /etc/container-service/%i/%i.env.template > /etc/container-service/%i/%i.env'

[Install]
WantedBy=multi-user.target
