[Unit]
Description=Radicale CalDAV and CardDAV server
Wants=container-build@%N.service dovecot.service
After=container-build@%N.service dovecot.service

[Service]
Restart=always
ExecStartPre=/bin/install --owner 15232 --group 15232 -d /var/lib/container-service/%N
ExecStart=/bin/podman run --replace --pull never --net mail --env-file /etc/container-service/%N/%N.env \
                          --publish 5232:5232 \
                          --volume /var/lib/container-service/%N:/var/lib/%N:z \
                          --name %N localhost/%N:latest
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N

[Install]
WantedBy=multi-user.target
