# Options for RSS-to-Email.
RSS2EMAIL_FROM=${RSS2EMAIL_FROM}
RSS2EMAIL_TO=${RSS2EMAIL_TO}

# Options for SMTP delivery mechanism.
RSS2EMAIL_SMTP_HOST=${POSTFIX_HOST}
RSS2EMAIL_SMTP_PORT=587
RSS2EMAIL_SMTP_USERNAME=${POSTFIX_LOCAL_SMTP_USERNAME}
RSS2EMAIL_SMTP_PASSWORD=${POSTFIX_LOCAL_SMTP_PASSWORD}
