# Options for RSS-to-Email.
RSS2EMAIL_FROM=rss-to-email@deuill.org

# Options for SMTP delivery mechanism.
SMTP_HOST=${POSTFIX_HOST}
SMTP_PORT=587
SMTP_USERNAME=${POSTFIX_LOCAL_SMTP_USERNAME}
SMTP_PASSWORD=${POSTFIX_LOCAL_SMTP_PASSWORD}
