# Virtual host options.
PROSODY_HOST=${PROSODY_HOST}
PROSODY_HOST_EXTERNAL=${PROSODY_HOST_EXTERNAL}

# Authentication options.
PROSODY_AUTH_LDAP_HOST=lldap:3890
PROSODY_AUTH_LDAP_BIND_UID=${PROSODY_LDAP_UID}
PROSODY_AUTH_LDAP_BIND_PASSWORD=${PROSODY_LDAP_PASSWORD}

# TURN server options.
PROSODY_TURN_HOST=${COTURN_REALM}
PROSODY_TURN_SECRET=${COTURN_AUTH_SECRET}
