[Unit]
Description=MariaDB SQL Migration for %I
Wants=container-environment@%i.service mariadb.service
After=container-environment@%i.service mariadb.service
ConditionPathExists=%E/coreos-home-server/%i/service/%p.sql

[Service]
Type=oneshot
SyslogIdentifier=%N
EnvironmentFile=-%E/coreos-home-server/%i/%i.env
EnvironmentFile=%E/coreos-home-server/mariadb/mariadb.env
ExecStartPre=/bin/install --mode 0700 --directory /tmp/%N
ExecStartPre=/bin/sh -c 'envsubst < %E/coreos-home-server/%i/service/%p.sql > /tmp/%N/migrate.sql'
ExecStartPre=/bin/podman create --replace --rm --name mariadb-migrate-%i --entrypoint mariadb \
                                --volume mariadb:/var/lib/mysql:z \
                                localhost/mariadb:latest --host mariadb --user root --password=${MYSQL_ROOT_PASSWORD} --wait -e 'source /migrate.sql'
ExecStartPre=/bin/podman cp /tmp/%N/migrate.sql mariadb-migrate-%i:/migrate.sql
ExecStart=/bin/podman start --attach mariadb-migrate-%i
ExecStartPost=/bin/podman rm --ignore --force mariadb-migrate-%i
ExecStartPost=/bin/rm -Rf /tmp/%N

[Install]
WantedBy=multi-user.target
