[Unit]
Description=MariaDB SQL Database
Wants=container-build@%N.service
After=container-build@%N.service

[Service]
Restart=always
EnvironmentFile=/etc/container-service/%N/%N.env
ExecStart=/bin/podman run --replace --pull never --name %N --net internal \
                          --env-file /etc/container-service/%N/%N.env \
                          --volume %N:/var/lib/mysql:z \
                          localhost/%N:latest
ExecStartPost=/bin/podman run --replace --pull never --rm --name %N-wait --net internal \
                              --volume %N:/var/lib/mysql:z \
                              --entrypoint mariadb-admin localhost/%N:latest \
                              --host mariadb --user root --password=${MYSQL_ROOT_PASSWORD} --wait=10 ping
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N

[Install]
WantedBy=multi-user.target
