# Server configuration.
STALWART_HOSTNAME=${STALWART_HOSTNAME}
STALWART_LOG_LEVEL=info

# Certificates.
STALWART_SSL_NAME=${STALWART_SSL_NAME}

# Directory management.
STALWART_FALLBACK_ADMIN_USERNAME=admin-fallback
STALWART_FALLBACK_ADMIN_SECRET=${STALWART_FALLBACK_ADMIN_SECRET}
