[Unit]
Description=Prosody XMPP server
Wants=container-build@%N.service container-volume@%N.service mariadb.service dovecot.service
After=container-build@%N.service container-volume@%N.service mariadb.service dovecot.service

[Service]
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/bin/podman run --replace --name %N --net internal --sdnotify=conmon \
                          --env-file %E/coreos-home-server/%N/%N.env \
                          --publish 5222:5222 --publish 5269:5269 --publish 5347:5347 \
                          --volume %N:/var/lib/%N:z \
                          --volume prosody-conf:/etc/%N/conf.d:z \
                          --volume letsencrypt:/etc/ssl/private:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --ignore --time 10 %N
ExecStopPost=/bin/podman rm --ignore --force %N
ExecReload=/bin/podman exec %N sh -c 'echo "config:reload()" | nc -q 1 -w 10 127.0.0.1 5582'

[Install]
WantedBy=multi-user.target
