[Unit]
Description=Initialize Dovecot POP3/IMAP Server
Wants=dovecot.service
BindsTo=mariadb-migrate@dovecot.service
After=mariadb-migrate@dovecot.service
Before=dovecot.service
ConditionKernelCommandLine=ignition.firstboot

[Install]
WantedBy=multi-user.target
