# Options for Slidge.
SLIDGE_SERVER=prosody
SLIDGE_SECRET=${PROSODY_SLIDGE_PASSWORD}
SLIDGE_SECRET_KEY=${SLIDGE_SECRET_KEY}
SLIDGE_HOME_DIR=/var/lib/slidge
SLIDGE_USER_JID_VALIDATOR=.*@${PROSODY_HOST}
SLIDGE_UPLOAD_SERVICE=upload.${PROSODY_HOST}

# Options for Prosody component configuration.
PROSODY_COMPONENT_PASSWORD=${PROSODY_SLIDGE_PASSWORD}
