server {
    listen 8080;
    server_name ${SERVER_NAME};

    root ${SERVER_ROOT};
    include server.conf;

    location / {
        autoindex ${AUTO_INDEX};
        autoindex_format xml;
        xslt_stylesheet autoindex.xslt;
        xslt_string_param uri $uri;
    }
}
