[Unit]
Description=LLDAP Light LDAP server
Wants=container-build@%N.service container-volume@%N.service
After=container-build@%N.service container-volume@%N.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=/usr/bin/lldap healthcheck --config-file /etc/lldap/config.toml
Image=localhost/%N:latest
Network=internal
Network=lldap
Notify=healthy
Volume=%N:/var/lib/%N:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
