[Unit]
Description=Prosody XMPP server
Wants=container-build@%N.service container-volume@%N.service lldap.service grafana-dashboard@prosody.service
After=container-build@%N.service container-volume@%N.service lldap.service grafana-dashboard@prosody.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:5280/health
Image=localhost/%N:latest
Network=internal
Network=prosody
Network=nginx
Network=prometheus
Notify=healthy
PublishPort=5222:5222
PublishPort=5223:5223
PublishPort=5269:5269
PublishPort=5347:5347
Volume=%N:/var/lib/%N:z
Volume=prosody-conf:/etc/%N/conf.d:z
Volume=letsencrypt-certificates:/etc/ssl/private:z,ro

[Service]
ExecReload=/bin/podman exec %N prosodyctl shell config reload
Restart=on-failure

[Install]
WantedBy=multi-user.target
