# Mail-server options.
DOVECOT_HOST=${DOVECOT_HOST}

# Database connection options.
DOVECOT_DATABASE_HOST=mariadb
DOVECOT_DATABASE_NAME=${DOVECOT_DATABASE_NAME}
DOVECOT_DATABASE_USERNAME=${DOVECOT_DATABASE_USERNAME}
DOVECOT_DATABASE_PASSWORD=${DOVECOT_DATABASE_PASSWORD}

# Rspamd options.
RSPAMD_CONTROLLER_HOST=rspamd
RSPAMD_CONTROLLER_PORT=11334
