[Unit]
Description=Initialize Dovecot POP3/IMAP server
Wants=mariadb-migrate@dovecot.service dovecot.service
After=mariadb-migrate@dovecot.service
Before=dovecot.service
ConditionKernelCommandLine=ignition.firstboot

[Install]
WantedBy=multi-user.target
