[Unit]
Description=Container network for %I
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/etc/cni/net.d/%i.conflist

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/podman network create %i
ExecStop=/bin/podman network rm %i

[Install]
WantedBy=multi-user.target
