[Unit]
Description=Container environment for %I
ConditionPathExists=%E/coreos-home-server/host.env
ConditionPathExists=%E/coreos-home-server/%i/%i.env.template

[Service]
Type=oneshot
EnvironmentFile=%E/coreos-home-server/host.env
ExecStart=/bin/sh -c 'envsubst < %E/coreos-home-server/%i/%i.env.template > %E/coreos-home-server/%i/%i.env'

[Install]
WantedBy=multi-user.target
