[Unit]
Description=CoreOS Home Server Update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
SyslogIdentifier=%N
PrivateTmp=true
Environment=GIT_REMOTE_URL=https://github.com/deuill/coreos-home-server.git
ExecStartPre=/usr/bin/git clone --verbose -- $GIT_REMOTE_URL %T/coreos-home-server
ExecStart=/bin/bash %T/coreos-home-server/hooks/post-merge

[Install]
WantedBy=multi-user.target
