[Unit]
Description="Let's Encrypt DNS01 certificate renewal for %I"
Wants=container-build@letsencrypt.service
After=container-build@letsencrypt.service

[Service]
Type=oneshot
EnvironmentFile=%E/coreos-home-server/letsencrypt/letsencrypt.env
ExecStart=/bin/podman run --replace --pull never --rm --name letsencrypt-renew-%i \
                          --env-file %E/coreos-home-server/letsencrypt/letsencrypt.env \
                          --volume letsencrypt:/var/lib/letsencrypt:z \
                          localhost/letsencrypt:latest \
                          --pem --path /var/lib/letsencrypt --domains "%i" \
                          --server ${ACME_SERVER} --email ${ACME_EMAIL} --dns ${ACME_DNS_PROVIDER} renew

[Install]
WantedBy=multi-user.target
