[Unit]
Description="Let's Encrypt DNS01 certificate register for %I"
Wants=container-build@letsencrypt.service letsencrypt-dns-renew@%i.timer
After=container-build@letsencrypt.service
Before=letsencrypt-dns-renew@%i.timer

[Service]
Type=oneshot
EnvironmentFile=%E/coreos-home-server/letsencrypt/letsencrypt.env
ExecStart=/bin/podman run --replace --pull never --rm --name letsencrypt-register-%i \
                          --env-file %E/coreos-home-server/letsencrypt/letsencrypt.env \
                          --volume letsencrypt:/var/lib/letsencrypt:z \
                          localhost/letsencrypt:latest \
                          --accept-tos --pem --path /var/lib/letsencrypt --domains "%i" \
                          --server ${ACME_SERVER} --email ${ACME_EMAIL} --dns ${ACME_DNS_PROVIDER} run

[Install]
WantedBy=multi-user.target
