# Application settings.
LLDAP_HOST=${LLDAP_HOST}
LLDAP_JWT_SECRET=${LLDAP_JWT_SECRET}

# Admin user settings.
LLDAP_ADMIN_EMAIL=${LLDAP_ADMIN_EMAIL}
LLDAP_ADMIN_USERNAME=${LLDAP_ADMIN_USERNAME}
LLDAP_ADMIN_PASSWORD=${LLDAP_ADMIN_PASSWORD}
