# Options for RSS-to-Email.
RSS2EMAIL_FROM=${RSS2EMAIL_FROM}

# Options for SMTP delivery mechanism.
RSS2EMAIL_SMTP_HOST=${RSS2EMAIL_SMTP_HOST}
RSS2EMAIL_SMTP_PORT=${RSS2EMAIL_SMTP_PORT}
RSS2EMAIL_SMTP_USERNAME=${RSS2EMAIL_SMTP_USERNAME}
RSS2EMAIL_SMTP_PASSWORD=${RSS2EMAIL_SMTP_PASSWORD}
