[Unit]
Description=Container Volume for %I

[Service]
Type=oneshot
SyslogIdentifier=%N
RemainAfterExit=true
ExecStart=/bin/sh -c 'podman volume exists %i || podman volume create %i'

[Install]
WantedBy=multi-user.target
