[Unit]
Description=Container Network for %I
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/etc/containers/networks/%i.json

[Service]
Type=oneshot
SyslogIdentifier=%N
RemainAfterExit=true
ExecStart=/bin/podman network create %i

[Install]
WantedBy=multi-user.target
