[Unit]
Description=Backup for Container Volume %I

[Service]
Type=oneshot
SyslogIdentifier=%N
ExecStartPre=/bin/install --mode 0700 --directory %S/backups/coreos-home-server/%i
ExecStart=/bin/podman run --replace --rm --name %p-%i --entrypoint /opt/container-volume-backup \
                          --volume %i:/data:z,ro \
                          --volume %E/coreos-home-server/base/service:/opt:z,ro \
                          --volume %S/backups/coreos-home-server/%i:/backup:z \
                          docker.io/debian:bullseye-slim -s /data -d /backup -n "%i"

[Install]
WantedBy=multi-user.target
