[Unit]
Description=Container Build for %I
Wants=network-online.target container-environment@%i.service container-network@internal.service container-build@%i.path
After=network-online.target container-environment@%i.service container-network@internal.service
ConditionPathExists=%E/coreos-home-server/%i/Containerfile

[Service]
Type=oneshot
SyslogIdentifier=%N
ExecStart=/bin/podman build $PODMAN_BUILD_OPTIONS --file %E/coreos-home-server/%i/Containerfile --tag localhost/%i:latest %E/coreos-home-server/%i

[Install]
WantedBy=multi-user.target
