[Unit]
Description=Restore from Backup for Container Volume %I
ConditionFileNotEmpty=%S/backups/coreos-home-server/%i/%i-latest.tar.gz

[Service]
Type=oneshot
SyslogIdentifier=%N
ExecStart=/bin/podman run --replace --rm --name %p-%i --entrypoint /bin/bash \
                          --volume %i:/data:z \
                          --volume %S/backups/coreos-home-server/%i:/backups:z,ro \
                          docker.io/debian:bullseye-slim -c \
                          'test -n "$(ls -A /data)" && echo "Volume %i is not empty, skipping." && exit 0; \
                           tar -xvpf "/backups/%i-latest.tar.gz" -C /data'

[Install]
WantedBy=multi-user.target
