[Unit]
Description=Coturn TURN/STUN server
Wants=container-build@%N.service container-volume@%N.service
After=container-build@%N.service container-volume@%N.service

[Container]
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
Image=localhost/%N:latest
PublishPort=3478:3478
PublishPort=3478:3478/udp
PublishPort=3479:3479
PublishPort=3479:3479/udp
PublishPort=5349:5349
PublishPort=5349:5349/udp
PublishPort=5350:5350
PublishPort=5350:5350/udp
PodmanArgs=--publish ${COTURN_RELAY_PORT_MIN}-${COTURN_RELAY_PORT_MAX}:${COTURN_RELAY_PORT_MIN}-${COTURN_RELAY_PORT_MAX}/udp
Volume=%N:/var/lib/%N:z
Volume=letsencrypt:/etc/ssl/private:z,ro

[Service]
EnvironmentFile=%E/coreos-home-server/%N/%N.env
ExecReload=/bin/podman exec %N sh -c 'kill -USR2 $(pidof turnserver)'
Restart=on-failure

[Install]
WantedBy=multi-user.target
