[Unit]
Description=Shiori Simple Bookmark Manager
Wants=container-build@%N.service container-volume@%N.service
After=container-build@%N.service container-volume@%N.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:8080
Image=localhost/%N:latest
Network=internal
Notify=healthy
Volume=%N:/var/lib/%N:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
