# Configuration for Spectrum.
SPECTRUM_HOSTNAME=spectrum
SPECTRUM_PROTOCOL=any
SPECTRUM_PASSWORD=${PROSODY_SPECTRUM_PASSWORD}
SPECTRUM_XMPP_HOST=prosody
SPECTRUM_REGISTRATION_ENABLED=1

# Options for Prosody component configuration.
PROSODY_COMPONENT_PASSWORD=${PROSODY_SPECTRUM_PASSWORD}
PROSODY_HOST_EXTERNAL=${PROSODY_HOST_EXTERNAL}
