[DEFAULT]
from = ${RSS2EMAIL_FROM}
to = ${RSS2EMAIL_TO}
user-agent = rss2email/1.0
use-publisher-email = True
date-header = True
html-mail = True
post-process = rss2email.post_process.prettify process
email-protocol = smtp
smtp-auth = True
smtp-username = ${RSS2EMAIL_SMTP_USERNAME}
smtp-password = ${RSS2EMAIL_SMTP_PASSWORD}
smtp-server = ${RSS2EMAIL_SMTP_HOST}
smtp-port = ${RSS2EMAIL_SMTP_PORT}
smtp-ssl = True
verbose = info
