# Configuration for ACME endpoints.
ACME_SERVER=${LETSENCRYPT_SERVER}
ACME_EMAIL=${LETSENCRYPT_EMAIL}
ACME_DNS_PROVIDER=${LETSENCRYPT_DNS_PROVIDER}

# Configuration for DNS providers.
CLOUDFLARE_DNS_API_TOKEN=${LETSENCRYPT_DNS_PROVIDER_TOKEN}
