[Unit]
Description=Prometheus S.M.A.R.T. Metrics Exporter
Wants=grafana-dashboard@prometheus-node-exporter.service
After=grafana-dashboard@prometheus-node-exporter.service

[Container]
AutoUpdate=local
ContainerName=%N
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:9633
Image=localhost/prometheus:latest
Network=internal
PodmanArgs=--sdnotify=healthy --privileged --entrypoint /usr/bin/prometheus-smartctl-exporter
User=root
Volume=/dev:/dev:ro

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
