[Unit]
Description=Prometheus Node Metrics Exporter
Wants=grafana-dashboard@prometheus.service
After=grafana-dashboard@prometheus.service

[Container]
AutoUpdate=local
AddCapability=SYS_TIME
ContainerName=%N
Exec=--path.rootfs=/host
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:9100
Image=localhost/prometheus:latest
Network=host
PodmanArgs=--pid host --sdnotify=healthy --entrypoint /bin/node_exporter
Volume=/:/host:ro,rslave

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
