[Unit]
Description=Prometheus Node Metrics Exporter
Wants=grafana-dashboard@prometheus-node-exporter.service
After=grafana-dashboard@prometheus-node-exporter.service

[Container]
AutoUpdate=local
AddCapability=SYS_TIME
ContainerName=%N
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/var/run/dbus/system_bus_socket
Exec=--path.rootfs=/host --collector.systemd
HealthCmd=timeout 5s curl --fail --silent --show-error -o /dev/null localhost:9100
Image=localhost/prometheus:latest
Network=host
PodmanArgs=--pid host --sdnotify=healthy --entrypoint /usr/bin/prometheus-node-exporter
Volume=/:/host:ro,rslave

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
