# Basic options.
GRAFANA_DOMAIN=${GRAFANA_DOMAIN}
GRAFANA_LOG_LEVEL=info

# Authentication options.
GRAFANA_AUTH_LDAP_HOST=lldap
GRAFANA_AUTH_LDAP_PORT=3890
GRAFANA_AUTH_LDAP_BIND_UID=${GRAFANA_LDAP_UID}
GRAFANA_AUTH_LDAP_BIND_PASSWORD=${GRAFANA_LDAP_PASSWORD}
