# Mail-server options.
POSTFIX_HOST=${POSTFIX_HOST}
POSTFIX_MAIL_SASL_PATH=inet:dovecot:3659
POSTFIX_MAIL_MILTER_PATH=inet:rspamd:11332
POSTFIX_MAIL_TRANSPORT_PATH=lmtp:inet:dovecot:24

# Service user options.
POSTFIX_LOCAL_SMTP_USERNAME=${POSTFIX_LOCAL_SMTP_USERNAME}
POSTFIX_LOCAL_SMTP_PASSWORD=${POSTFIX_LOCAL_SMTP_PASSWORD}
