[Unit]
Description=RSS Feed to Email
Wants=container-build@%N.service postfix.service
After=container-build@%N.service postfix.service

[Service]
Type=oneshot
SyslogIdentifier=%N
ExecStart=/bin/podman run --replace --rm --name %N --net internal \
                          --env-file %E/coreos-home-server/%N/%N.env \
                          --volume %E/coreos-home-server/%N/service/feeds:/etc/%N/feeds.d:z,ro \
                          --volume %N:/var/lib/%N:z \
                          localhost/%N:latest

[Install]
WantedBy=multi-user.target
