[Unit]
Description=Git server over SSH
Wants=container-build@%N.service container-network@%N.service container-network@internal.service
After=container-build@%N.service container-network@%N.service container-network@internal.service

[Service]
Restart=always
ExecStartPre=/bin/install --owner 10000 --group 10000 -d /var/lib/container-service/%N
ExecStart=/bin/podman run --replace --pull never --net internal,%N --cap-add AUDIT_WRITE \
                          --publish 468:22 \
                          --volume /var/lib/container-service/%N:/home/git:z \
                          --name %N localhost/%N:latest
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N

[Install]
WantedBy=multi-user.target
