[Unit]
Description=Git Server
Wants=container-build@%N.service container-volume@%N.service
After=container-build@%N.service container-volume@%N.service

[Service]
Type=notify
NotifyAccess=all
SyslogIdentifier=%N
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/bin/podman run --replace --name %N --net internal --sdnotify=conmon --cap-add AUDIT_WRITE \
                          --publish 468:22 \
                          --volume %N:/var/lib/git:z \
                          --volume %N-ssh:/etc/ssh/keys:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --ignore --time 10 %N
ExecStopPost=/bin/podman rm --ignore --force %N

[Install]
WantedBy=multi-user.target
