[Unit]
Description=Git server over SSH
Wants=container-build@%N.service
After=container-build@%N.service

[Service]
Restart=always
ExecStart=/bin/podman run --replace --pull never --net internal --name %N --cap-add AUDIT_WRITE \
                          --publish 468:22 \
                          --volume %N:/var/lib/git:z \
                          --volume %N-ssh:/etc/ssh/keys:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N

[Install]
WantedBy=multi-user.target
