# Authentication configuration.
DISCORD_IRCD_AUTH_EMAIL=${DISCORD_IRCD_AUTH_EMAIL}
DISCORD_IRCD_AUTH_PASSWORD=${DISCORD_IRCD_AUTH_PASSWORD}
DISCORD_IRCD_AUTH_TOKEN=

# Daemon configuration.
DISCORD_IRCD_PASSWORD=${DISCORD_IRCD_PASSWORD}
