[Unit]
Description=Postfix SMTP server
Wants=container-build@%N.service dovecot.service
After=container-build@%N.service dovecot.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=sh -c 'printf "EHLO healthcheck\r\n" | nc -q 1 localhost 587 | grep -qE "^220.+ESMTP Postfix"'
Image=localhost/%N:latest
PodmanArgs=--sdnotify=healthy
PublishPort=25:25
PublishPort=465:465
PublishPort=587:587
Network=internal
Volume=dovecot:/var/mail:z
Volume=letsencrypt:/etc/ssl/private:z,ro

[Service]
ExecReload=/bin/podman exec %N postfix reload
Restart=on-failure

[Install]
WantedBy=multi-user.target
