[Unit]
Description=Postfix SMTP server
Wants=container-build@%N.service dovecot.service
After=container-build@%N.service dovecot.service

[Container]
AutoUpdate=local
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
HealthCmd=/run-healthcheck localhost 25
Image=localhost/%N:latest
Network=internal
Notify=healthy
PublishPort=25:25
PublishPort=465:465
PublishPort=587:587
Volume=dovecot:/var/mail:z
Volume=letsencrypt-certificates:/etc/ssl/private:z,ro

[Service]
ExecReload=/bin/podman exec %N postfix reload
Restart=on-failure

[Install]
WantedBy=multi-user.target
