[Unit]
Description=RSS Feed to Email
Wants=container-build@%N.service container-volume@%N.service postfix.service
After=container-build@%N.service container-volume@%N.service postfix.service

[Container]
ContainerName=%N
EnvironmentFile=%E/coreos-home-server/%N/%N.env
Image=localhost/%N:latest
Network=internal
Volume=%E/coreos-home-server/%N/service/feeds:/etc/%N/feeds.d:z,ro
Volume=%N:/var/lib/%N:z

[Service]
Type=oneshot

[Install]
WantedBy=multi-user.target
