[Unit]
Description=Rclone SFTP Server
Wants=container-build@rclone.service container-volume@rclone-storage.service lldap.service
After=container-build@rclone.service container-volume@rclone-storage.service lldap.service

[Container]
AutoUpdate=local
ContainerName=%N
Environment=SERVE_APPEND_USER_DIR=true
EnvironmentFile=%E/coreos-home-server/rclone/rclone.env
Exec=serve sftp --addr :2022 --auth-proxy /usr/bin/ldap-auth-proxy --cache-dir /var/lib/%N
Image=localhost/rclone:latest
Network=internal
PublishPort=2022:2022
Volume=%N:/var/lib/%N:z
Volume=rclone-storage:/var/lib/rclone-storage:z

[Service]
Restart=on-failure
ExecReload=/bin/podman exec %N sh -c 'kill -HUP $(pidof rclone)'

[Install]
WantedBy=multi-user.target
