[Unit]
Description=Rspamd spam filtering system
Wants=container-build@%N.service redis.service
After=container-build@%N.service redis.service

[Service]
Type=notify
NotifyAccess=all
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/bin/podman run --replace --pull never --name %N --net internal --sdnotify=conmon \
                          --env-file %E/coreos-home-server/%N/%N.env \
                          --volume %N:/var/lib/%N:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --ignore --time 10 %N
ExecStopPost=/bin/podman rm --ignore --force %N
ExecReload=/bin/podman exec %N rspamadm reload

[Install]
WantedBy=multi-user.target
