[Unit]
Description=Rspamd spam filtering system
Wants=container-build@%N.service redis.service
After=container-build@%N.service redis.service

[Service]
Restart=always
ExecStart=/bin/podman run --replace --pull never --name %N --net internal \
                          --env-file /etc/container-service/%N/%N.env \
                          --volume %N:/var/lib/%N:z \
                          localhost/%N:latest
ExecStop=/bin/podman stop --time 10 %N
ExecStopPost=/bin/podman rm --force %N
ExecReload=/bin/podman exec %N rspamadm reload

[Install]
WantedBy=multi-user.target
