[Unit]
Description=NGINX web server
Wants=container-build@%N.service
After=container-build@%N.service

[Service]
Type=notify
NotifyAccess=all
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
ExecStart=/bin/podman run --replace --pull never --name %N --net internal --sdnotify=conmon \
                          --publish 80:80 --publish 443:443 \
                          --volume nginx-conf:/etc/nginx/conf.d:z \
                          --volume letsencrypt:/etc/ssl/private:z,rshared,ro \
                          localhost/%N:latest
ExecStop=/bin/podman stop --ignore --time 10 %N
ExecStopPost=/bin/podman rm --ignore --force %N
ExecReload=/bin/podman exec %N %N -s reload

[Install]
WantedBy=multi-user.target
