[Unit]
Description=Podman API Socket for Gitea Actions
Documentation=man:podman-system-service(1)

[Socket]
ListenStream=/run/gitea-actions/podman.sock
DirectoryMode=0770

[Install]
WantedBy=sockets.target
